body {
  text-align: center;
  
}

header {
  background-color: white;
  margin-bottom: 15px;
}

header img {
  float: left;
  margin: 20px 180px 20px 0px;
  width: 200px;
  height: 70px;
  background-color:#DDD;
  z-index: +1;
  background-color: #DDD;
}

 main img {
  margin: 15px;
  background-color: #DDD;
} 

/* NAV BAR */
li{
  margin: 35px;
  display: inline-block;
  vertical-align: middle;
}

/* FOOTER */
footer {
  background-color:#DDD;
  height: 200px;
  margin: 20px 200px 20px 200px;

}


li > div > p {
  height: 350px;
  overflow: scroll;
  width: 400px;
  text-align: left;
}
 
section > ul > li {
  display: inline-block;
  vertical-align: middle;
  margin-top: 15px;
  text-align: left;
}

button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  font-size: 16px;
  margin: 4px 2px;
  transition: 350ms;
}

button:hover {
background-color: blue;
color: white;
}
